form {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 20px;
    border-radius: 90px;
}

label {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

textarea {
    width: 80%
}