div {
    font-family: 'Open Sans', sans-serif;
}

.landing-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-page-container__splash, .splash {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}

.col {
    background-color: #00e1ff;
    width: 400px;
    height: 650px;
    margin: 25px;
}

.col-main__img-main {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.col-2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col-3 {
    background-color: rgb(255, 77, 77);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-description {
    margin: 10px;
}

.tile-banner {
    display: flex;
    align-items: center;
    margin: 7px;
}

.tile-banner__main-text {
    font-size: 30px;
    margin: 5px;
}

#tile-banner__main-icon {
    margin: 10px;
    font-size: 40px;
}

.tile-banner__secondary-text {
    font-size: 20px;
    margin: 5px;
}

.tile-banner__secondary-icon {
    margin: 5px;
    font-size: 10px;
}

.date-banner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 7px;
}

.date-banner__text {
    margin: 5px;
    font-size: 16px;
}

.date-banner__icon {
    margin: 5px;
    font-size: 7px;
}

.subscriptions {}

.government__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.government__tiles {
    background-color: cyan;
    height: 550px;
    width: 400px;
    display: flex;
    flex-direction: column;
}
/* .government__tiles > div {
    padding: 35px;
} */

.government-tile {
    border: 1px solid black;
    margin: 5px;
    display: flex;
}

.government-tile__info {

}



.tile-info__type {
    display: flex;
    align-items: center;
}

.info-type {
    margin: 5px;
}

.info-type__icon {
    font-size: 10px;
}