form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    padding: 20px;
    border-radius: 90px;
}

label {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}